<!-- views/partials/_header.ejs -->

<h1>TINYAPP</h1>

<% if (user) { %>
  <form method="POST" action="/logout">
    <label for="user_id"><%= user.email %>  </label>
    <div class="button">
      <button type="submit">Logout</button>
    </div>
  </form>
  <% } else { %>
    <form method="GET" action="/register">
      <div class="button">
        <button type="submit">Register</button>
      </div>
    </form>
    <form method="GET" action="/login">
    <div class="button">
      <button type="submit">Login</button>
    </div>
    </form>
    <% } %>


      <!-- if (username), display username and a seperate logout form
  which will post to /logout. Otherwise, show login form. -->