<!-- views/partials/_header.ejs -->
<!-- SITE HEADER -->
<!-- if user is logged in, header shows 
       - the user's email 
       - logout button which POSTs to /logout -->
<!-- if not logged in, header shows 
      - link to /register 
      - link to /login -->

<h1>TINYAPP</h1>

<% if (user) { %>
  <form method="POST" action="/logout">
    <div><%= user.email %>  </div>
    <div class="button">
      <button type="submit">Logout</button>
    </div>
  </form>
  <% } else { %>
    <form method="GET" action="/register">
      <div class="button">
        <button type="submit">Register</button>
      </div>
    </form>
    <form method="GET" action="/login">
    <div class="button">
      <button type="submit">Login</button>
    </div>
    </form>
    <% } %>

