<!DOCTYPE HTML>

<html lang="en">

<head>
  <title>Edit</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
    <div>ShortURL: <b><%= shortURL %></b></div>
    <div>LongURL: <b><%= longURL %></b></div>
    <p>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 250px">
    <input type="submit" value="Update">
    </p>
  </form>
</body>

</html>