<!DOCTYPE HTML>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
    <% urls.forEach((obj) => { %>
      <li>
        <p><b><%= obj.shortUrl %></b>: <%= obj.longUrl %></p>
            <a href='http://localhost:8080/urls/<%= obj.shortUrl %>'>Edit</a>
            <form action="/urls/<%= obj.shortUrl %>/delete" method="POST">
              <div class="button">
                <button type="submit">Delete</button>
              </div>
            </form>
      </li>
      <% }); %>
  </ul>
</body>

</html>