<!DOCTYPE HTML>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
    <% urls.forEach((url) => { %>
      <li>
        <%= url %>
            <a href='http://localhost:8080/urls/<%= url %>'>Edit</a>
            <form action="/urls/<%= url %>/delete" method="POST">
              <div class="button">
                <button type="submit">Delete</button>
              </div>
            </form>
      </li>
      <% }); %>
  </ul>
</body>

</html>