<!DOCTYPE HTML>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
    <% for (var key in urls) { %>
      <li>
        <%= key %>
          <%= urls[key] %>
            <a href='http://localhost:8080/urls/<%= key %>'>Edit</a>
            <form action="/urls/<%= key %>/delete" method="POST">
              <div class="button">
                <button type="submit">Delete</button>
              </div>
            </form>
      </li>
      <% } %>
  </ul>
</body>

</html>